@font-face {
  font-family: "Crimson Text";
  src: url("../font/CrimsonText-Regular.eot");
  src: url("../font/CrimsonText-Regular.eot?#iefix") format("embedded-opentype"), url("../font/CrimsonText-Regular.woff") format("woff"), url("../font/CrimsonText-Regular.ttf") format("truetype"), url("../font/CrimsonText-Regular.svg#CrimsonText-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../font/Raleway-Regular.eot");
  src: url("../font/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../font/Raleway-Regular.woff") format("woff"), url("../font/Raleway-Regular.ttf") format("truetype"), url("../font/Raleway-Regular.svg#Raleway-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*!
    minireset.css
    v0.0.3|MIT
    License|github.com/jgthms/minireset.css
    /
    /
    -------------------------------------------
    /
    /
    --
    Reset
    /
    /
    -------------------------------------------
    */
html,
body,
p,
blockquote,
figure,
fieldset,
textarea,
iframe {
  margin: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
embed,
iframe:not(.instagram-media):not(.wp-embedded-content),
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

body {
  font-family: "Raleway";
}

.holder {
  max-width: 1380px;
  padding: 0 50px;
  margin: 0 auto;
}

h2 {
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: -0.664px;
}

p {
  color: #3e3c3b;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 160%;
}

a {
  font-size: 13px;
  font-weight: 700;
  line-height: 160%;
  color: white;
}

.btn {
  text-decoration: none;
  color: grey;
  font-size: 0.625rem;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  min-width: 180px;
  text-align: center;
  padding: 14px 30px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  position: relative;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 30%;
  background-color: grey;
}
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 30%;
  background-color: grey;
  left: 0;
}
.btn::after {
  right: 0;
}

span::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 1px;
  height: 30%;
  background-color: grey;
}
span::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 1px;
  height: 30%;
  background-color: grey;
  left: 0;
}
span::after {
  right: 0;
}

.btn:hover {
  background-color: grey;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header {
  padding: 40px 0;
}
header .holder .header_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .holder .header_block nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
header .holder .header_block nav ul li {
  list-style: none;
}
header .holder .header_block nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

.introduction_block {
  height: calc(100vh - 135px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.introduction_block .holder .intro_wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
@media (min-width: 768px) {
  .introduction_block .holder .intro_wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
.introduction_block .holder .intro_wrapper .intro_content_block h4 {
  font-size: 20px;
  padding: 20px 0;
}
.introduction_block .holder .intro_wrapper .intro_content_block .content_title h1 {
  font-size: 3.4rem;
}
.introduction_block .holder .intro_wrapper .intro_content_block h3 {
  font-size: 1.8rem;
  padding: 5px 0 20px 0;
}
.introduction_block .holder .intro_wrapper .intro_content_block p {
  padding: 20px 0;
}
.introduction_block .holder .intro_wrapper .intro_content_block .btn_block {
  padding: 30px 0;
}
.introduction_block .holder .intro_wrapper .intro_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.introduction_block .holder .intro_wrapper .intro_img img {
  width: 400px;
  height: 400px;
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .introduction_block .holder .intro_wrapper .intro_img img {
    border-radius: 50%;
  }
}/*# sourceMappingURL=style.css.map */